[2018-04-03 17:14] eval opened #1 "support watch-option"
Something like:
[code]

Would you be interested in a PR for this?

[2018-04-03 18:50] Olical commented on #1
Ooh, yeah, this is a great idea. Does the cognitect one allow the same? I guess it makes more sense in a ClojureScript context anyway.

It'll just be a case of mapping it to the right compiler option, shouldn't be too bad, have a go at it if you feel like it :D

[2018-04-03 21:27] eval commented on #1
The clojure.test doesn't seem to support watching...

[2018-04-20 16:11] #1 closed

[2018-05-07 12:46] dirv opened #3 "Pass compiler options so that npm-deps can be used"
Hi, I’m trying to find the simplest way to get `jsdom` working from the test runner. I did some thinking about the best approach and I came up with this: allow the user to pass compiler options, in the same way as the `cljs.main` runner:

    clj -Atest -co '{:install-deps true :npm-deps {:jsdom "11.10.0"}}'

What do you think of this approach? I’ve only ever really dabbled with ClojureScript befo

[2018-05-07 13:24] Olical commented on #3
That seems like a fine way to approach it, I like it. It's whatever works for you really, you can also make calls to npm or yarn before you run your tests. It's whatever fits your workflow really. I tend to have a makefile with a `make test` command that has my JavaScript package manager as a prerequisite.

This is a really nice "all clojure" approach though!

[2018-05-08 09:39] dirv commented on #3
I played around with this a little yesterday, and decided that your approach of using npm to manage its own dependencies makes more sense.

Some thing came up:

- `tools.cli` only supports single-letter argument switches, so `-co` would have to be `-c` or `-o`, for example. (`cljs.main` uses its own argument parsing logic, not `tools.cli`.)
- The command line in unwieldly so I looked into adding i

[2018-05-08 09:39] #3 closed

[2018-06-11 18:05] arichiardi opened #4 "Filter deftest by metadata"
Aweome, great project :smile: We can have the same as `test-runner` so that you can filter by `:integration` something like this.

[code]

Example:
https://github.com/cognitect-labs/test-runner#using-inclusions-and-exclusions

[2018-06-11 20:20] Olical commented on #4
It's definitely a "nice to have". I have no need for it personally but I might take a look at it eventually. I'm really not sure how it'd be implemented with ClojureScript right now, maybe it's not too hard!

I'm totally open to discussing solutions / ideas or reviewing PRs if anyone wants to give it a go. If not I'll probably have a go some slow Sunday afternoon.

[2018-06-17 22:56] Olical commented on #4
I think I've matched the cognitect test runner pretty perfectly now, if anyone wants to give it a test, try out aa66648de79166bce82382e86f3a8fb33bf77130

[2018-06-17 22:56] Olical commented on #4
New help text, for example:

[code]

[2018-06-18 01:54] arichiardi commented on #4
Will definitely test thank you!

[2018-06-18 21:27] arichiardi commented on #4
Addressed in #5 - trying and reporting there.

[2018-06-18 21:42] arichiardi opened #6 "Disable verbose mode"
Hi again :smile:

I feel the compilation logs should not be there, or at least should be configurable. So I wonder if a tweak like `:verbose false` could be an option.

Thanks for your work by the way!

[2018-06-19 08:11] Olical commented on #6
What's odd is that I don't see any compilation logs :thinking: I'll take a look into this though.

[2018-06-19 11:34] Olical commented on #6
I realise you meant while using `-w`. Added support in #5 for `-V` (`--verbose`)

[2018-06-23 10:13] Olical commented on #6
Released in `2.0.0`, built in #5.

[2018-06-23 10:13] #6 closed

[2018-06-23 10:14] Olical commented on #4
Released in `2.0.0`, built in #5.

[2018-06-23 10:14] #4 closed

[2018-07-05 21:36] arichiardi opened #8 "Exit code is always zero?"
Hi @Olical!

Using your tool way more seriously now :smile:

I noticed that looks like the exit code when tests are failing is still zero. Is there an option I need to enable to report a failure?

To be more clear, the call `clojure -m cljs-test-runner.main` is the one returning zero.

[2018-07-05 21:51] arichiardi commented on #8
I have added:

[code]

and it prints `############# 0` out.

[2018-07-05 22:14] arichiardi commented on #8
This is a surprising-to-me `node` known behavior.

I discovered it the hard way I guess: https://medium.com/@dtinth/making-unhandled-promise-rejections-crash-the-node-js-process-ffc27cfcc9dd

Closing and sorry for the noise.

[2018-07-05 22:14] #8 closed

[2018-07-05 22:16] Olical commented on #8
Not a problem, glad you solved it! :)

On Thu, 5 Jul 2018, 23:14 Andrea Richiardi, <notifications@github.com>
wrote:

[2018-07-16 16:34] johnmn3 opened #9 "Pass in node launch options"
Hi, thanks for putting this together!

I'd like to start node with a custom launch switch: `--experimental-worker`

Is there anyway way to do that easily? If not, I'm guessing it can be accomplished by letting users pass in a custom `doo-opts` here? https://github.com/Olical/cljs-test-runner/blob/master/src/cljs_test_runner/main.clj#L118

[2018-07-17 08:06] Olical commented on #9
Hey there, that's a good suggestion. I think you're right and `--doo-opts` is the best way to go, I'll have a look at this.

[2018-07-17 11:40] Olical commented on #9
Released in `2.1.0`

[2018-07-17 11:40] #9 closed

[2018-07-18 01:14] johnmn3 commented on #9
Awesome! Thanks.

[2018-08-11 23:51] arichiardi opened #10 "Issue detecting test namespaces"
I am having some issue in the `replumb` project with the runner.

Basically when I display the classpath, I see the folders there:

[code]

but the runner does only:

[code]

I wonder what it is going wrong, the classpath is built correctly. It might be something very silly on my end and the runner works in other projects with aliases.

[2018-08-12 18:35] arichiardi opened #11 "Watcher CompilerException"
Hi again,
I have found another small issue with the `--watch` flag. The first time around, in my code base, everything is good. The second reload is throwing the following:

[code]

My test looks like:

[code]

I wonder what can be the cause there, I am going to investigate a bit.

*EDIT1:* This does not happen with something like `shadow-cljs` - data point
*EDIT2:* Code in the test does not reall

[2018-08-13 08:48] Olical commented on #10
Hmm, I wonder if this has something to do with the namespace filtering? Probably not, but worth trying to isolate this. I can't see anything wrong with your usage right now but I am pretty tired heading home from a music festival, so take my opinion with a pinch of salt :sweat_smile:

Would you maybe be able to push your branch of replumb somewhere so we can isolate the root cause easier?

[2018-08-13 09:07] Olical commented on #10
Oh, maybe try specifying `--dir` (`-d`), you can specify multiple like `-d x -d y`. Although if everything is already in your `test` directory maybe it won't make a difference.

[2018-08-13 09:08] Olical commented on #11
Hmm, but only in this project? Running tests multiple times in my projects works fine :thinking: could maybe be a path thing? So either classpath or `--dir` stuff.

[2018-08-14 01:18] arichiardi commented on #11
I use the dir option yes, I will try to use the default and report back

[2018-08-14 01:19] arichiardi commented on #10
I will publish and try those suggestions for sure.

[2018-08-17 18:00] arichiardi commented on #10
I have pushed my branch to https://github.com/arichiardi/replumb/pull/209.

The output is a bit verbose but you can try: `./scripts/test --watch -r .*cache.*` - it should not test anything but `.replumb.cache-test`

[2018-08-17 18:01] arichiardi commented on #10
it seems like a different problem from the original issue though, maybe I can open a new one?

[2018-09-06 20:43] arichiardi opened #12 "Read npm-deps from package json"
Hi there!

One of the biggest pain points when working with ClojureScript core is to keep the `:npm-deps` map in sync with `package.json`.

What do you think if we added a cli option that enables reading and creating that map from a `package.json` in the current root or somewhere else?

It would be so nice because it would avoid keeping external `.cljs.edn` files around.

I could take care of this

[2018-09-24 23:51] arichiardi opened #13 "Have metadata on fixtures"
Hi @Olical!

I have possibly a feature request :smile:

We use `cljs-test-runner` with `--include` so that we can skip executing tests like:

[code]

It all works great but there is a problem: if I use `use-fixture`, that will be called and in our case it will have the side effect of requiring environment variables - I cannot mix integration with non-integration tests in the same namespace, which

[2018-10-01 11:44] Olical commented on #13
Hmm, I'm not sure how this would be implemented, is the fixture something that appears in the namespace? The only way the filtering works right now is by mutating the target namespace by filtering it's vars at run time of the CLJS. Not sure if I'd be able to do it for this? I'm also kinda reluctant to deviate from the normal Clojure behaviour :thinking:

I don't think I'll have time to look at thi

[2018-10-01 11:47] Olical commented on #12
Do you really have to keep it in sync? I've always just used `yarn` and it's `package.json` and ignored the CLJS one. I think it's always worked fine for me? Like here https://github.com/Olical/bonsai I only use `yarn` and don't specify `:npm-deps` but I can use `jsdom` in my tests (run by `cljs-test-runner`) just fine.

Seems like it might be out of scope of this project as well?

[2018-10-01 11:50] Olical commented on #11
Did you ever get this working, by the way? It's such a weird error and only in this project that I feel like it has to be a configuration or something. Especially since it seems to work fine with everything else.

[2018-10-01 11:59] Olical commented on #10
Tried it myself, looks like `--namespace-regex` combined with `--watch` is the issue. The regex is ignored when watching.

[2018-10-01 12:12] Olical commented on #10
Haha, I've found it. `test/node/test/runner.cljs` and `test/browser/test/runner.cljs` contain calls to `doo-tests` at their top level, so as the file is read it's executed. The files are loaded by `cljs/watch` as part of it's watching system (not sure what we can do about that?...). If you remove the files everything works as expected.

[2018-10-01 12:14] Olical commented on #10
@arichiardi ping, just in case you don't see these comments since it's an old thread. I hope things are going well for you :smile:

[2018-10-06 16:50] Olical commented on #13
Sorry to say that I'm going to close this for now but open to a PR if it's actually easy to implement. Haven't got much time right now and since it's more of a feature than a bug I don't think I'll get around to thinking about it for a long time.

Again, I'd be open to this as a contribution but I don't think I'll personally get around to doing this. I hope that's not too disappointing! I hope you

[2018-10-06 16:50] #13 closed

[2018-10-06 16:52] Olical commented on #12
I'm sorry to close this one too :cry: you have good ideas, but I'm not looking to implement them just yet. I do feel like this one is a non-issue though, or should be. I've never had to do this myself so I'm wondering what you're doing differently? I'd say this shouldn't be a job for this tool as well, maybe it's doable as a tiny script for those that need it.

[2018-10-06 16:52] #12 closed

[2018-10-06 16:54] Olical commented on #11
Will be closing this for now (having an issue clear out if you haven't noticed :grimacing: the number of them across various repos was stressing me out). If it's still an issue and we can reliably reproduce it I'll take another look.

[2018-10-06 16:54] #11 closed

[2018-10-06 16:54] Olical commented on #10
Will be closing this for now (having an issue clear out if you haven't noticed :grimacing: the number of them across various repos was stressing me out). If it's still an issue and we can reliably reproduce it I'll take another look.

I think this was an issue with the specific project as I mentioned in my previous comment though.

[2018-10-06 16:54] #10 closed

[2018-10-06 17:55] arichiardi commented on #10
Ok no problem I will check replumb again and reopen in case :wink:

[2018-10-06 17:56] arichiardi commented on #11
Yes this still happens every now and then but could not reproduce consistently

[2018-10-06 17:57] arichiardi commented on #12
Fair enough thank you!

[2018-10-06 17:59] arichiardi commented on #13
I will look into this again when the time comes.

I believe this belongs here complementary to the filtering on var feature.

I for now renamed and dedicated a namespace to integration tests effectively not using the test var filter anymore. It might have been worth keeping this open but not disappointed no, don't want you to be stressed out by an issue :smile:

Thanks for your answer and your wil

[2018-10-08 23:09] arichiardi opened #14 "Default --dir value is wrongly showing up"
It seems like the default value of `--dir` is mistakenly added even if one specifies it explicitly.

Example, I have:

[code]

Some debugging in `accumulate` reveals:

[code]

The project does not have `test`, only `test/cljs` so this fails.

I am already kind of debugging so I should be able to provide a patch for this.

[2018-10-15 17:31] #14 closed

[2018-10-18 17:07] henryw374 opened #16 "-c option and optimizations problem"
Hi, when using the -c option. and when the opts file passed to that contains e.g. `:optimizations :advanced` or whitespace, or simple, no tests are run. Setting it to :none does work though.

Any ideas?

Thanks,
Henry

[2018-10-19 12:05] Olical commented on #16
So I guess this is because advanced optimisations mangle all of the names and maybe test code get's cut out because it's not called directly. Why are you running tests with advanced optimisations anyway? Just to make sure it works?

I think this would require some extern files or something to stop Closure Compiler from mangling the code and deleting things that are actually required.

[2018-10-19 12:20] henryw374 commented on #16
Ok, thanks for the info. Yes, basically I've taken to having a build that
involves running  code with the same optimization level it'll have in
production.

On Fri, 19 Oct 2018, 13:05 Oliver Caldwell, <notifications@github.com>
wrote:

[2018-10-22 11:59] Olical commented on #16
So this should be fixed in `3.1.0`, let me know what you think! It has the following caveat where `cljs-test-runner-out/gen` needs to be on the path, but that's all. https://github.com/Olical/cljs-test-runner#advanced-compilation

Seems to work well for me when switching between `:none` and `:advanced` a lot. I hope this helps :smiley:

[2018-10-23 08:11] Olical commented on #16
Seems to still behave weirdly for `:whitespace` and maybe things like foreign libs are a bit messed up. It's better but maybe not fixed.

[2018-10-23 17:52] henryw374 commented on #16
Thanks.

Whitespace aside, the project I was trying it out on has some issues I've
got to fix first (relating to the external lib)... once that's sorted out
I'll give this a go.

On Tue, Oct 23, 2018 at 9:11 AM Oliver Caldwell <notifications@github.com>
wrote:

--
@henryw374

[2018-10-29 14:45] henryw374 commented on #16
Hey, `:optimizations :advanced`  is working fine for me now. creating the directory before running etc not a problem.

I'll leave the issue for you to close in case you're addressing `:whitespace` but it's not an issue for me.

Thanks

[2018-10-30 18:42] henryw374 opened #18 "chrome-headless and/or other doo envs"
Hi,

continuing on with the aim of running tests in prod-like env, I want to run in a browser, but unfortunately phantomjs won't do.

added chrome-headless in my own fork for now: https://github.com/henryw374/cljs-test-runner/commit/e6408cbfcdf384ec7b623f52f57e385cb4ff9b1b

Thanks

[2018-11-01 11:31] Olical commented on #16
I might take another look soon, but if I can't work it out I might just mark it as a known issue. I'm really confused by it, I can understand "no optimisations" and "optimisations" behaving differently. But I would expect once any level of optimisations works, especially advanced, all of the rest will work fine too.

[2018-11-01 11:32] Olical commented on #18
Yep, that fork is all you need to add more configuration! Feel free to open that as a PR! I suppose it should've been configurable at the CLI all along but oh well, not a _huge_ deal since adding new runtimes isn't going to be a very frequent thing.

[2018-11-07 13:39] Olical commented on #18
Merged, will deploy in 3.2.1.

[2018-11-07 13:39] #18 closed

[2018-11-07 13:44] #16 closed

[2018-11-27 11:02] borkdude opened #20 "Advanced build"
I tried to follow the steps in the README but running tests with advanced build exits with code 1 without an error being reported. I tried it in this branch here:

https://github.com/borkdude/advent-of-spec/blob/cljs-advanced/script/test#L28

[2018-11-27 11:23] Olical commented on #20
Ah, sorry about that. I'll try to take a look soon. Thought I'd solved this once and for all last time.

You're sure you created the output directory and added to the `:paths`? (I'm guessing you have but just checking :smiley:)

[2018-11-27 11:27] Olical commented on #20
Ah I see that you have that. Also if you could try running it without optimisations that would be great. If that fails too then maybe something else is wrong with how it's being called?

[2018-11-27 11:27] borkdude commented on #20
@Olical

In the script I'm linking to, there's this before running the tests:
[code]
Here is the extra path:

https://github.com/borkdude/advent-of-spec/blob/cljs-advanced/deps.edn#L16

Running without optimisations work.

[2018-11-27 11:41] Olical commented on #20
Ah, cool, thanks! I did have a skim but I'm at work and not really focussing on this right now. I'll try to reproduce it myself when I get a chance, will keep you posted but I don't know if I'll have it fixed before advent of code right now, I can try. I've got things I would like to do before it starts too :sweat_smile:

[2018-11-27 11:47] borkdude commented on #20
No worries! It already works without, but the solutions may be faster with optimizations.

[2018-11-28 20:36] borkdude commented on #20
It turned out to be a clj calling mistake, `-R` does not add the extra path.

[2018-11-28 20:36] #20 closed

[2018-11-28 20:51] Olical commented on #20
Oh good, glad you got to the bottom of it! :tada:

[2018-12-10 17:42] borkdude opened #22 "clj test-runner accepts non-existing ns argument, cljs test-runner does not"
The clj test-runner accepts non-existing ns arguments, the cljs test-runner does not.

E.g. when you call the clj test-runner with `-n foo.bar` it just executes 0 tests if `foo.bar` doesn't exist. But the cljs-test-runner throws an exception.

[2018-12-13 09:29] borkdude commented on #22
@Olical I just pushed a PR which fixes this.

[2018-12-13 09:29] Olical commented on #22
Hah, how well timed!

[2018-12-18 13:13] #22 closed

[2019-01-02 19:54] borkdude opened #24 "Support Planck"
I'd like to use this test runner with Planck. Doo already supports planck it seems.

I tried adding a planck case to the code:

[code]

When I try to run the [speculative](https://github.com/borkdude/speculative) tests, I see:

[code]

Maybe doo needs to add `cljs-test-runner-out` to the planck classpath?

[2019-01-02 20:02] borkdude commented on #24
Adding `"cljs-test-runner-out/gen"` to the `:extra-paths` did the trick. Are you interested in a PR for planck?

[2019-01-02 20:19] Olical commented on #24
Oh excellent! That's really cool. A PR would be neat 😄 thanks!

[2019-01-02 20:27] borkdude commented on #24
@Olical done.

[2019-01-03 12:35] #24 closed

[2019-01-03 12:54] Olical commented on #24
Released in 3.4.0, thank you for the contribution!

[2019-01-10 21:52] arichiardi opened #27 "Orchestra incompatibility"
Hello again @Olical! Hope you are having a good work/tranquil relaxing day :smile:

So I think I have a weird problem and it seems somehow related to https://github.com/jeaye/orchestra/issues/32.

Every time I try to execute a test that contains `(orchestra/instrument)`, I get:

[code]

It seems like `cljs-test-runner` tries to read the standard output and therefore fails because of what `orchestr

[2019-01-11 12:16] Olical commented on #27
Oh that's interesting! Thanks for the report, I will warn you ahead of time that I have a lot of snowboarding coming up until mid-February so fixes may take some time :grimacing:

At least we can see the error though... sort of?  I would guess it's related to the ClojureScript generation :thinking: I'll have a dig at some point, but acknowledging this for now.

[2019-02-07 05:04] jeaye commented on #27
This has been fixed on the Orchestra side of things. Thanks, guys!

[2019-02-07 06:43] arichiardi commented on #27
Thank you well test tomorrow!

[2019-02-12 03:42] Olical commented on #27
How's this looking for you @arichiardi? No worries if you haven't had a chance to check! Just didn't want to close it without someone confirming it explicitly. Glad to see it fixed! :smile:

[2019-02-12 04:01] arichiardi commented on #27
Will test soon-ish :smile:

[2019-02-19 23:15] arichiardi commented on #27
@Olical @jeaye This looks good with:

[code]

Thanks a lot!

[2019-02-19 23:16] Olical commented on #27
Sweet! Good enough for me, thank you so much for checking!

[2019-02-19 23:16] #27 closed

[2019-04-14 04:07] timothypratley opened #29 "Request for information on how to report exceptions."
Hi, thank you for the fantastic library, this is very useful!

This isn't really an issue so much as a question, sorry I wasn't sure where to ask. Please feel free to close this issue immediately.

When I get an exception inside a test, it gets swallowed like so:

[code]

The easy workaround is I put the code outside a test and run it again to get info on where the problem occurred.

Conversely, s

[2019-04-14 10:30] Olical commented on #29
Hmm, yeah I think this is just something `cljs.test` does I'm afraid, maybe someone who's dealt with this before has a better trick but I'll sometimes wrap the failing code in a `(try (catch ...))` that logs out the entire error. You could even wrap that up in a macro or function to make it a little easier to write.

If you want nice formatting of your spec errors, I'd suggest using [expound](http

[2019-04-14 10:31] Olical commented on #29
Thinking about it, I would imagine it's the `cljs.test/is` macro that's swallowing these, maybe there's some config in there like something you can bind or you could write your own `is` that catches and displays errors properly?

[2019-04-14 17:11] timothypratley commented on #29
Good ideas, thank you!

[2019-04-14 17:11] #29 closed

[2019-06-14 00:57] mfikes opened #30 "No test execution if :advanced and no runner out dir"
If you don't yet have a `cljs-test-runner-out` dir, and you run tests with `:advanced`, then no tests are run.

Repro:

`test/foo/core_test.cljs`:

[code]

`deps.edn`:

[code]

Then running the tests produces no output:

[code]

Running them a second time will:

[code]

[2019-06-14 15:24] Olical commented on #30
I'm afraid this is a [known gotcha](https://github.com/Olical/cljs-test-runner#advanced-compilation) :sob: if you have any tips then I'd love to hear them!

[2019-06-15 17:03] Olical commented on #16
It looks like #31 has it working fine for `:none`, `:simple` and `:advanced`. `:whitespace` is still a bit wonky for some reason, seems a lot better though! (sorry to bump a dead thread, just thought this might be useful information for future googlers)

[2019-06-15 17:03] #30 closed

[2019-06-28 21:35] mfikes opened #33 "Running tests at the REPL"
With the Cognitect test runner, you can run all your tests while via the REPL by simply doing

[code]

I was wondering if the same could be done with `cljs-test-runner`.

An experiment shows that it is probably possible via a macro.

https://github.com/mfikes/cljs-test-runner/tree/repl

The output of this experiment is below.

Before delving into this too far, wanted to share and see what your tho

[2019-06-30 15:28] Olical commented on #33
Oh that's really cool! I'm totally okay with this, it's a small change and it looks like it'll be a great addition for some people. Namely you :smile:

If you'd like to submit a PR for this I'll give it a once over, I can't see why this can't be part of the main project though, it's not really bloat. Great work, as always!

Edit: And thank you for checking!

[2019-06-30 17:07] mfikes commented on #33
@Olical Thanks. Since you are cool with this, I'll put together a proper PR for review.

[2019-08-11 00:03] jafingerhut opened #34 "Possible to use cljs-test-runner on core.rrb-vector library?"
I have made some changes to a local copy of the core.rrb-vector library, in particular the ClojureScript implementation of it, and tried using cljs-test-runner to run some tests that I have locally changed to attempt to use clojure.test deftest/is/are/etc.

When I tried to run the tests using cljs-test-runner, it kept failing to compiler an older version of one of the core.rrb-vector source files.

[2019-08-11 03:13] jafingerhut commented on #34
I have not tested this, but it seems that perhaps _any project_ that has a different version of core.rrb-vector, fipp, or any other library in cljs-test-runner's list of dependencies might lead to an issue where the version of the library compiled could be different than the one of the project being tested?

If that is so, 'shading' is a technique that can be used by tools like cljs-test-runner to

[2019-08-11 12:59] Olical commented on #34
Ah, that's annoying, sorry about that! So I could probably get it working with mranderson but I'd need to use it through Clojure CLI as opposed to lein. I did that in [Conjure](https://github.com/Olical/conjure) but as a sort of pre-compile step :thinking:

If you're using lein it should be really easy to include cljs-test-runner via mranderson, if not maybe I can take a look at mrandersoning the

[2019-08-11 17:05] jafingerhut commented on #34
I had not thought of using mranderson myself on cljs-test-runner.

After creating this issue I realized I can create a single fairly simple deps.edn alias for running all tests that currently exist in the project, because right now there is only one test namespace in the project, so auto-gathering those does not give much help, at least right now.  Thus I feel fairly low motivation to try out mran

[2019-08-14 11:33] Olical commented on #34
I think this is okay and I'm going to close it for now accepting the risk. I think MrAndersonifying everything is one option (but I'd rather avoid the work if I can with so many other things on my plate right now), the alternative is to get doo etc updated to a newer version.

I'll close this but revist it if it appears again in other contexts. Thanks for the detailed report and help!

[2019-08-14 11:33] #34 closed

[2019-08-14 17:30] jafingerhut commented on #34
If it actually does cause conflicts with different versions, not that one of the fun things about doo/cljs-test-runner being a tool, and being widely used by many projects, is that it might not matter what version of the dependency you or doo use -- it will always be different than the version used by some projects.

[2019-10-17 10:51] Olical commented on #33
Hey Mike, just wondering if you ever had this code working? I'd love to see what you were thinking about even if it doesn't work? I can maybe pick this torch up eventually.

[2019-10-17 13:06] mfikes commented on #33
@Olical Indeed there was some issue that I encountered when trying to solve this that was difficult to overcome. I failed to record it but I'll see if I can find the original branch and re-construct what the problem was.

[2019-10-20 18:21] mfikes commented on #33
@Olical OK, I took a look to see where I had become stuck. The experimental branch where I was progressing at the time is https://github.com/mfikes/cljs-test-runner/tree/repl

One salient aspect of the design being pursued there is that, since you are already in an established REPL, there is no need to involve `doo` to set up a ClojureScript / JavaScript runtime within which to run tests: In the R

[2020-04-30 12:59] henryw374 opened #35 "point the test runner to a file of compiled js?"
Hi, I have various builds which compile the same bit of code, but with various build setups... shadow, bundle & etc. All these builds output a single file, so what I'd like is to be able to have the test runner just execute these files somehow and report.

Perhaps the requirement would be that the main ns needs to contains tests, or just requires test namespaces?

[2020-04-30 15:51] Olical commented on #35
Hmm, my gut instinct is that this isn't possible, I think that would be an entirely different project. This project parses namespaces out and uses the `doo` test runner on them rendering ClojureScript code as source and compiling it.

I think running existing code is completely different, I'm afraid I feel like that's out of scope for this project. I could be wrong though if you think the code isn

[2020-05-01 05:43] henryw374 commented on #35
Ok thanks, I've not looked into the internals of this too much so I'm not sure.

I'll close this for now, assuming it's not going to fit - and possibly reopen later with a PR if I think can see a sensible way for it work

[2020-05-01 05:43] #35 closed

[2020-06-04 10:14] ingesolvoll opened #36 "Support :target :bundle"
The new bundle target of clojurescript compiler breaks doo/cljs-test-runner. The problem is that the file named by `:output-to` in compiler config is an intermediate file to be consumed by webpack, usually named index.js. It is not ready te be evaled as normal JS. It's the file generated by webpack we're interested in, usually named main.js.

Figwheel solved this problem by introducing another con

[2020-06-04 10:34] Olical commented on #36
Hey, thank you for teaching me about the new bundle feature, it sounds really useful and definitely something that should be supported by cljs-test-runner.

Since you've already made the fork and we can git dep it I suggest consuming your fork for now. If I need to make further changes I can always fork the fork, so no pressure to maintain or develop further.

[2020-06-04 11:47] Olical commented on #36
Okay, there's a `develop` branch now with updated deps and your fork of doo. Does it work okay for you? You'll have to use it as a git dep for now until I release it.

[2020-06-04 12:12] ingesolvoll commented on #36
Thanks for the quick response! Will test, hopefully today. This obviously won't work for users that don't use tools.deps, but I guess that's ok for the short term.

[2020-06-17 07:44] ingesolvoll commented on #36
Sorry to leave you hanging on this, my build broke down for reasons that were too complex to spend time on. We have a separate branch for using the :bundle feature, so it's not our main focus. So task has been put on hold, and I will have to try to find time in between to sort it out. Hopefully soon.

[2020-06-17 09:51] Olical commented on #36
No problem! I have an infinite todo list to be getting on with (not counting actual work work todo list), so this can stick around until we're both ready to address these things. It's not like the tool is unusable right now 😄 (I hope)

[2020-07-01 17:07] cap10morgan commented on #36
I'm trying this out, but get either `ReferenceError: doo is not defined` with `-x chrome-headless` or `ReferenceError: window is not defined` from node (I guess I need jsdom there, but not sure how to set all that up).

I created a `doo.edn` with `{:output-to "out/main.js"}` and passed `-D doo.edn` to my `clojure -Atest -c build.edn` command (hopefully got all that right).

I'm happy to help furth

[2020-07-04 11:52] Olical commented on #36
Hmm that's odd although I'm 100% out of context right now. I'm afraid this isn't at the forefront of my mind right now, all of my energy is directed elsewhere. Thank you for testing it out and producing output, it should be valuable! I'll have to see if I can repro some time soon!

[2020-07-04 22:59] ingesolvoll commented on #36
@Olical I managed to sort out my non-related issues now, so ran a test. First I tested with my existing setup, that works (forked doo, 3.7.0 of cljs-test-runner)

Then I tried without forked doo and this dependency for cljs-test-runner:

[code]

Getting an error, so I'm probably doing it wrong:

[code]

I'm using a plugin for running tools.deps through leiningen, that could be a source of error.

[2020-07-05 19:23] ingesolvoll commented on #36
Ok, so I finally got a successful test run. @cap10morgan , if this is useful for you, this is my setup:

An alias named `:test-cljs` with the following config

[code]

doo.cljs.edn contains `{:output-to "resources/public/js/main.js"}`

test.cljs.edn contains

[code]

I run it with `clj -A:test-cljs`

[2020-07-05 19:26] ingesolvoll commented on #36
Since we seem to be among the few people in the world that care about this, we should probably discuss the design choices for configuring doo. Right now I just check if there is an `:output-to` value in doo.edn, and let that override the one in compiler config. Is this a good design?

Figwheel-main has chosen to call the main.js file `:final-output-to`. Better for this case?

[2020-07-06 14:40] cap10morgan commented on #36
@ingesolvoll Thanks! I'm still not getting it to work, though. Is your working repo available somewhere? I think there's some other difference between my setup and yours that's breaking it.

[2020-07-06 15:41] cap10morgan commented on #36
Never mind, I got it working. 🎉

There are still a couple of 404 warnings output from the karma web server, but they seem to be a red herring. Looks like the thing that was actually tripping me up was having a `:main` entry in my `test-build.edn` (i.e. the file that gets passed to the `-c` arg).

[2020-09-07 11:35] Olical commented on #36
I've been out of the loop on this, but is there anything that should be changed in cljs-test-runner? And are those changes kind of just convenience, so it's all doable without them but it would be nice to have some first class support?

[2020-09-07 14:47] cap10morgan commented on #36
I've been using this for some time now on several projects. It's working great. I'd be in favor of merging it as-is if it doesn't break anything else.

[2020-09-07 15:54] ingesolvoll commented on #36
It's working, but only on projects based on deps.edn, as the patched doo isn't properly released as an artifact.

[2020-10-05 08:36] ingesolvoll commented on #36
@Olical I finally got around to deploying this to clojars. Tried running it now and it seems to work.

Deployed doo:
https://clojars.org/ingesolvoll/doo/versions/0.2.0

Change needed in cljs-test-runner: https://github.com/Olical/cljs-test-runner/compare/master...ingesolvoll:master
This makes it ok for leiningen projects as well, although I didn't test it in leiningen yet. But since the maven-styl

[2020-10-05 08:48] Olical commented on #36
Ohh nice! I've swapped over on develop if you'd like to try it there, I'll leave it on there as a note for now. I don't have a good cljs project to test it on these days :grimacing: I'm doing lots of backend Clojure and cloudformation atm, essentially zero CLJS so I worry that I won't be able to give it a proper check. We'll see!

[2020-10-05 08:57] ingesolvoll commented on #36
https://github.com/Olical/cljs-test-runner/pull/37 Dep and doc

As I said I already tested this on my deps.edn setup. Maybe @cap10morgan could test as well?

Is there a quick and easy way to create a local maven repo jar for the runner so I can test on my lein setup with latest on develop?

[2020-10-05 09:03] Olical commented on #36
I think mvn build? And thanks for the PR!

[2020-10-05 09:08] Olical commented on #36
I'm just merging and syncing pom etc

[2020-10-05 09:11] Olical commented on #36
Going to release a 3.8.0-SNAPSHOT

[2020-10-05 09:12] ingesolvoll commented on #36
@Olical Excellent, I'll test that on leiningen when it arrives, then.

[2020-10-05 09:17] Olical commented on #36
Okay, 3.8.0-SNAPSHOT is up

[2020-10-05 10:43] ingesolvoll commented on #36
Can confirm that 3.8.0-SNAPSHOT works with both my leiningen and deps.edn setup

[2020-10-05 10:51] Olical commented on #36
I'll get this released ASAP :smile: (probably this week? Work now!)

[2020-10-28 15:55] cap10morgan commented on #36
@Olical 3.8.0-SNAPSHOT worked for me too. Time for a release? :)

[2020-10-29 13:23] Olical commented on #36
Released! All still okay?

[2020-10-29 13:24] Olical commented on #36
Sorry about the delay, I've been all over the place recently :grimacing:

[2020-10-29 13:27] ingesolvoll commented on #36
You don't owe us anything. Super happy with the fix and the release :)

[2020-10-29 13:38] Olical commented on #36
Yay! :tada: well I'll finally close this issue then, it took far too long considering the changes :sweat_smile: have a great day and let me know if you run into any issues!

[2020-10-29 13:38] #36 closed

[2020-11-04 18:39] cap10morgan commented on #36
@Olical Can you publish the release on GitHub too? Thanks!

[2021-01-29 21:41] lread opened #38 "Doo not compatible with karma v6"
A small bug in doo causes karma v6 to fail.

After [a PR for the fork of doo cljs-test-runner uses](https://github.com/ingesolvoll/doo/pull/1) is applied and released we can update cljs-test-runner to reference new doo and all will be good.

[2021-02-01 10:53] Olical commented on #38
So we just have to wait for that to be merged then I can update to that version of doo? Sounds good!

[2021-02-01 23:43] lread commented on #38
Yes indeedy!

[2021-02-02 16:49] lread commented on #38
Goodness gracious, the folks over at karma have [temporarily reversed their strict parameter checking in v6.0.4](https://github.com/karma-runner/karma/blob/master/CHANGELOG.md#604-2021-02-01).

Just the same, since the reversal is noted as temporary, we should probably still apply the v0.2.1 doo update.

Here's a way to reproduce the issue for karma v6.0.3
[code]

Add the following `package.json`

[2021-02-21 11:36] ccfontes opened #39 "namespaces undetected"
Node: v15.5.1
test directory: `test/`
olical/cljs-test-runner: 3.8.0

In my app, run `clj -Atest` (alias is :test), but no test namespaces are detected.

Then tried to repro in this repo using your examples, but couldn't get the tests working, so lets start from here.

For that added alias `:test` from the readme to `deps.edn`, resulting in:
[code]

Finally run `clj -Atest`, but get this:
[code]

[2021-02-21 11:47] Olical commented on #39
Probably path related? I think adding `:paths ["src" "test"]` to your
deps.edn should do the trick?

On Sun, 21 Feb 2021 at 11:36, Carlos <notifications@github.com> wrote:

[2021-02-21 13:45] ccfontes commented on #39
Still no namespaces detected when adding test directory to `:paths`. Also, does this mean it'll ship the tests? Btw, I didn't add it before, because in your blog post mentioned this:

Maybe just outdated instructions?

This is the test file (`app/core.cljs`):
[code]
Tried some variants of requiring `clojure.test` to no avail.

Alias:
[code]

I'll attempt a minimal repro in a public repo when I hav

[2021-02-21 13:53] Olical commented on #39
Sorry I just noticed you had the directory in your extra-paths of your test alias, replied via email on the go in the hope it fixed the issue but didn't read properly I guess :grimacing:

Do your test namespaces end in `-test`? Because that's a requirement by default but is configurable I think :thinking: (sorry about the vagueness, this project and even CLJS testing in general isn't super fresh i

[2021-02-21 14:02] ccfontes commented on #39
No worries, and much appreciated for the super quick reply.

My namespaces don't end with that `-test` suffix. I must have missed it in the documentation. I'm fine with having the suffix, so no need to modify `:default-desc`.

Will try your fix first thing tomorrow morning and let you know (already 11PM here).

[2021-02-21 22:37] ccfontes commented on #39
`-test` suffix works:
[code]

Thanks!

[2021-02-21 22:37] #39 closed

[2021-02-23 09:06] ccfontes opened #40 "ReferenceError: $jscomp is not defined"
deps.edn:
[code]

test.cljs.edn:
[code]

Works with `:simple` optimizations.

 Breaks like this with `:whitespace` optimizations:
[code]

Breaks likes this with `:none` optimizations:
[code]

[2021-02-23 18:07] Olical commented on #40
Hmm I can't say I've ever seen this or know what the issue is, it feels more ClojureScript compiler related than this repos code.

It actually seems more related to the Google Closure Compiler: https://stackoverflow.com/questions/57458122/how-to-fix-referenceerror-cant-find-variable-jscomp-phantomjs-or-refere

It might be worth trying to pin to a slightly older Clojure / ClojureScript version too

[2021-03-06 13:23] ccfontes commented on #40
@Olical Makes sense.
I'll only have time to try i.e., pinning an older ClojureScript compiler starting with next weekend.

[2021-03-13 14:13] ccfontes commented on #40
Gave it a go with a ClojureScript version from 2018 (1.10.145) without success.

Tried [:output-feature-set :es6](https://github.com/thheller/shadow-cljs/issues/643) as well, but the situation didn't change.

By the way, this is a Reagent project.

`package.json`:
[code]

Do you think we should close the ticket? On my side it's OK because I only intend to run these tests in CI, and a longer build

[2022-11-20 20:29] kongeor opened #41 "Upgrade doo and add firefox support"
Hello,

thank you for your work on this.

I'm using this test runner without issues after having bumped `doo` minor version. I've also added firefox support which can be convenient for cross browser testing. Latest versions of Chrome and FF are working fine at the moment. Is it ok to create a PR with those two changes: https://github.com/Olical/cljs-test-runner/compare/master...kongeor:cljs-test-r

[2022-11-21 08:40] Olical commented on #41
That sounds great to me! Thank you.

On Sun, 20 Nov 2022, 20:29 Kostas Georgiadis, ***@***.***>
wrote: